{% extends 'bookings/base.html' %}

{% block title %}Book Seat{% endblock %}

{% block content %}

<div class="card shadow p-4">
    <h3 class="mb-3">Book Seat for "{{ movie.title }}"</h3>

    <div class="mb-3">
        <span class="badge bg-primary">Available</span>
        <span class="badge bg-danger">Booked</span>
    </div>
    
    <form method="POST">
        {% csrf_token %}
    
        <div class="container">
            <div class="row">
                {% for seat in seats %}
                <div class="col-2 mb-3 text-center">
                        <input type="radio"
                               class="btn-check"
                               name="seat"
                               id="seat{{ seat.id }}"
                               value="{{ seat.id }}"
                               {% if seat.is_booked %} disabled {% endif %}
                               required>
    
                            <label class="btn w-100
                               {% if seat.is_booked %}
                                   btn-danger disabled
                               {% else %}
                                   btn-outline-primary
                               {% endif %}"
                               for="seat{{ seat.id }}">
                            {{ seat.seat_number }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    
        <button type="submit" class="btn btn-success">
            Book Selected Seat
        </button>
    </form>
</div>

{% endblock %}